.buton, .form-btn, .hero .btn, .email-form__btn, .button {
  border-radius: 4px;
  border-color: transparent;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

@media screen and (max-width: 1199.98px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

h3 {
  margin-bottom: 10px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 480px) {
  .header {
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    height: 80px;
  }
}

@media screen and (max-width: 767.98px) {
  .header__nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 302px;
  }
}

.header__nav--dekstop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 80px;
}

.header__logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .header__logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    padding: 16px 0;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
    height: 80px;
    padding: 26px 0;
  }
}

.header__weblogo {
  color: #212121;
}

.header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.header__link:hover, .header__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767.98px) {
  .header__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    padding: 0;
    margin-bottom: 32px;
  }
  .header__link:hover, .header__link:focus {
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .header__link--tablet {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    padding: 0;
    margin-bottom: 10px;
  }
  .header__link--tablet:last-child {
    margin-bottom: 0;
  }
}

.header__contact-item--dekstop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767.98px) {
  .header__contact-item--dekstop {
    display: none;
  }
}

.header__contact-item--dekstop:last-child {
  margin-right: 0;
}

.header__list--desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item--dekstop {
  margin-right: 50px;
}

.header__item--dekstop:last-child {
  margin-right: 0;
}

.header__contact-item--tablet {
  margin-bottom: 10px;
}

.header__contact-item--tablet:last-child {
  margin-bottom: 0;
}

.network__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

@media screen and (min-width: 480px) {
  .network__item {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
    margin-left: 10px;
  }
  .network__item:last-child {
    border-right: none;
    padding-right: 0;
  }
  .network__item:first-child {
    margin-left: 0;
  }
}

@media screen and (min-width: 480px) {
  .network__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: #2196f3;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
}

.header__link--primary {
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link--primary:first-child {
  margin-left: 0;
}

@media screen and (min-width: 480px) {
  .header__link--primary {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 768px) {
  .header__link--primary {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (max-width: 767.98px) {
  .header__list {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .header__list--tablet {
    display: block;
  }
}

.header__contact-item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 88px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header__link--current {
    color: #2196f3;
    position: relative;
  }
  .header__link--current::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767.98px) {
  .header__icon {
    display: none;
  }
}

.header__link:hover .header__icon,
.header__link:focus .header__icon {
  color: #2196f3;
}

.header__log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__button {
  z-index: 5;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .menu__button {
    display: none;
  }
}

.menu__button .icon-close_menu {
  display: block;
}

.menu__button.is-open .icon-close_menu {
  display: none;
}

.menu__button.is-open .icon-menu {
  display: block;
}

.menu__button .icon-menu {
  display: none;
}

.menu-conteiner {
  background-color: #ffffff;
  padding: 40px 40px 48px 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}

.menu-conteiner.is-open {
  display: block;
  z-index: 4;
}

@media (max-width: 767px) {
  .menu-conteiner {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .header__nav--mobile {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .header__list--mobile {
    display: none;
  }
}

.icon-close_menu {
  cursor: pointer;
  padding: 0;
  z-index: 100;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .icon-close_menu {
    display: none;
  }
}

.icon-close_menu {
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__button:hover .icon-close_menu,
.menu__button:focus .icon-close_menu {
  fill: #2196f3;
}

.icon-menu {
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__button:hover .icon-menu,
.menu__button:focus .icon-menu {
  fill: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .icon-menu {
    display: none;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 400ms ease-in-out, visibility 400ms ease-in-out;
  transition: opacity 400ms ease-in-out, visibility 400ms ease-in-out;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  -webkit-transition: opacity cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 750ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 750ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 750ms cubic-bezier(0.075, 0.82, 0.165, 1), opacity cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 750ms cubic-bezier(0.075, 0.82, 0.165, 1), opacity cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 750ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media screen and (max-width: 1199.98px) {
  .modal-wrapper {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-wrapper {
    width: 538px;
  }
}

.backdrop.is-hidden .modal-wrapper {
  -webkit-transform: translate(-50%, -50%) scale(0.4);
          transform: translate(-50%, -50%) scale(0.4);
  opacity: 0;
}

.backdrop .modal-wrapper {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.modal-text {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 12px;
  color: #212121;
}

@media screen and (max-width: 1199.98px) {
  .modal-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    margin: 40px 40px 12px;
  }
}

.modal-btn-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: #2196f3;
}

.form-field {
  position: relative;
  display: block;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
}

.form-field.textarea {
  margin-bottom: 20px;
}

.form-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-item:hover, .form-item:focus {
  border: 1px solid #2196f3;
}

.form-item:hover ~ .form-icon,
.form-item:focus ~ .form-icon {
  fill: #2196f3;
}

.form-text {
  display: block;
  width: 100%;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.form-text:hover, .form-text:focus {
  border: 1px solid #2196f3;
}

.text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}

.text.policy-desc {
  display: block;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .text.policy-desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.71;
  }
}

@media screen and (min-width: 1200px) {
  .text.policy-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-icon {
  position: absolute;
  top: 28px;
  left: 12px;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-item:hover ~ .form-icon,
.form-item:focus ~ .form-icon {
  fill: #2196f3;
}

.form-text::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-text:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-text::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.policy-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 54px;
}

.custom-checkbox {
  width: 16px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 7px;
  border-radius: 2px;
  outline: 2px solid #212121;
  outline-offset: -2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-checkbox-accept {
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .custom-checkbox .icon-checkbox-accept {
  opacity: 1;
}

.checkbox:checked + .custom-checkbox {
  background-color: #2196f3;
  outline: 2px solid #2196f3;
}

.modal-link {
  color: #2196f3;
}

.form-btn {
  display: block;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover, .form-btn:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero@1x_mb.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero@1x_mb.jpg");
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero@2x_mb.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero@2x_mb.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero@1x_tb.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero@1x_tb.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero@2x_tb.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero@2x_tb.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero@1x_dt.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero@1x_dt.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero@2x_dt.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero@2x_dt.jpg");
  }
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .hero-title {
    width: 360px;
  }
}

@media screen and (max-width: 1199.98px) {
  .hero-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    width: 696px;
  }
}

.hero .btn {
  min-width: 200px;
  min-height: 50px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
}

.advantages {
  background-color: #ffffff;
}

@media screen and (min-width: 480px) {
  .advantages-item {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .advantages-item {
    margin: 0 30px 30px 0;
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
  }
  .advantages-item:nth-child(even) {
    margin-right: 0;
  }
  .advantages-item:nth-child(n+3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-item {
    margin: 0 30px 0 0;
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 4);
        flex-basis: calc((100% - 3 * 30px) / 4);
  }
  .advantages-item:nth-child(even) {
    margin-right: 30px;
  }
  .advantages-item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 480px) {
  .advantages-list {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.advantages-item .advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 767.98px) {
  .advantages-item .advantages-text {
    margin-bottom: 30px;
  }
  .advantages-item .advantages-item .advantages-text:last-child {
    margin-bottom: 0;
  }
}

.advantages .title-advantage {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (min-width: 480px) {
  .advantages .title-advantage {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .advantages .title-advantage {
    text-align: left;
  }
}

.advantages-icon {
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767.98px) {
  .advantages-icon {
    width: 100%;
    height: 120px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-icon {
    height: 120px;
  }
}

.works.section {
  padding-top: 0;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199.98px) {
  .works.section {
    display: none;
  }
}

.works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.work-img {
  position: relative;
}

.work-name {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  padding: 27px 82px;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

@media screen and (max-width: 1199.98px) {
  .team-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
  }
}

.name-title {
  margin-bottom: 10px;
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
}

.team-text {
  text-align: center;
  padding-bottom: 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767.98px) {
  .team-text {
    width: 100%;
    margin-bottom: 30px;
  }
  .advantages-item .team-text:last-child {
    margin-bottom: 0;
  }
}

.team {
  background-color: #f5f4fa;
}

@media screen and (max-width: 767.98px) {
  .team-list {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: calc((100% - 60px))/2;
        flex-basis: calc((100% - 60px))/2;
    margin: 0 -15px -15px 0;
  }
}

@media screen and (min-width: 768px) {
  .team-item {
    -ms-flex-preferred-size: calc((100% - 60px))/2;
        flex-basis: calc((100% - 60px))/2;
    margin: 0 30px 30px 0;
  }
  .team-item:nth-child(n+3) {
    margin-bottom: 0;
  }
  .team-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    -ms-flex-preferred-size: calc((100% - 90px))/4;
        flex-basis: calc((100% - 90px))/4;
    margin: 0 30px 0 0;
  }
  .team-item:last-child {
    margin-right: 0;
  }
  .team-item:nth-child(2) {
    margin-right: 30px;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item {
  margin-right: 10px;
}

.social-item:last-child {
  margin-right: 0px;
}

@media screen and (min-width: 480px) {
  .social-item:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.social-icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-linkfocus {
  background-color: #2196f3;
}

.social-link:last-child {
  margin-right: 0;
}

.post-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
  text-align: center;
  color: #757575;
}

.clients__title {
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

@media screen and (min-width: 480px) {
  .clients__title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199.98px) {
  .clients__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 479px) {
  .clients__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 480px) {
  .clients__list {
    width: 450px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -15px -15px 0;
  }
}

@media screen and (min-width: 768px) {
  .clients__list {
    width: 738px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -15px -15px 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    width: 1170px;
    margin: 0 -15px -15px 0;
  }
}

.clients__item {
  margin-right: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 479px) {
  .clients__item {
    margin-bottom: 30px;
  }
  .clients__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) {
  .clients__item {
    margin: 0 30px 30px 0;
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
  }
  .clients__item:nth-child(n+5) {
    margin-bottom: 0;
  }
  .clients__item:nth-child(even) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    margin: 0 30px 30px 0;
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 3);
        flex-basis: calc((100% - 2 * 30px) / 3);
  }
  .clients__item:nth-child(n+4) {
    margin-bottom: 0;
  }
  .clients__item:nth-child(2n) {
    margin-right: 30px;
  }
  .clients__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    margin-right: 30px;
    -ms-flex-preferred-size: calc((100% - 5 * 30px) / 6);
        flex-basis: calc((100% - 5 * 30px) / 6);
  }
  .clients__item:nth-child(n+1) {
    margin-bottom: 0;
  }
  .clients__item:nth-child(6) {
    margin-right: 0;
  }
  .clients__item:nth-child(3) {
    margin-right: 30px;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

@media screen and (max-width: 767.98px) {
  .clients__link {
    width: 210px;
  }
}

.clients__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link.link:hover .clients__icon,
.clients__link.link:focus .clients__icon {
  border-color: #2196f3;
  fill: #2196f3;
}

.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #2f303a;
  max-height: 603px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .footer {
    max-height: 603px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    max-height: 463px;
  }
}

@media screen and (min-width: 1200px) {
  max-height: 252px;
}

@media screen and (min-width: 768px) {
  .footer__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contact {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.adress {
  display: block;
  max-height: 83px;
  line-height: 1.71;
  font-style: normal;
  color: #ffffff;
}

.footer__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #2196f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 480px) {
  .footer__logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-bottom: 20px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.footer__weblogo {
  color: #ffffff;
}

.adress__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__link:focus, .adress__link:hover {
  color: #2196f3;
}

.adress__item {
  margin-top: 8px;
}

@media screen and (max-width: 1199.98px) {
  .adress__item {
    text-align: center;
  }
}

@media screen and (min-width: 480px) {
  .footer__contact-adress {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer__contact-adress {
    display: block;
    margin-bottom: 60px;
    margin-left: 76px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contact-adress {
    margin-right: 70px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.invite__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .invite__list {
    padding-right: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .invite__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.invite__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .invite__title {
    margin-bottom: 20px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .invite__title {
    padding-right: 119px;
  }
}

@media screen and (min-width: 1200px) {
  .invite__title {
    margin-right: 154px;
    padding-right: 0;
  }
}

.invite__network {
  margin-right: 10px;
}

.invite__network:last-child {
  margin-right: 0;
}

.invite__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 60px;
}

.invite__link:focus, .invite__link:hover {
  background-color: #2196f3;
}

.invite__icon {
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767.98px) {
  .invite {
    margin-top: 60px;
  }
}

.email-form__title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .email-form__title {
    position: relative;
    text-transform: uppercase;
  }
}

.email-form {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .email-form {
    width: 570px;
    height: 86px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.email-form__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .email-form__mail {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .email-form__mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.email-form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 50px;
  border-radius: 4px;
  background-color: #2f303a;
  padding-left: 16px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .email-form__input {
    margin-left: 166px;
  }
}

@media screen and (max-width: 1199.98px) {
  .email-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .email-form__input {
    position: absolute;
    top: 35px;
    left: 0;
    bottom: 0;
    width: 358px;
    height: 50px;
    margin-left: 0;
  }
}

.email-form__icon {
  margin-left: 10px;
}

.email-form__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .email-form__btn {
    margin-left: 291px;
  }
}

@media screen and (min-width: 1200px) {
  .email-form__btn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: 0;
  }
}

.exsamples-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767.98px) {
  .exsamples-list {
    padding: 0 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

.button.current {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .button {
    margin-bottom: 30px;
  }
}

.exsamples-btn {
  margin-right: 8px;
}

.exsamples-btn:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767.98px) {
  .exsamples-btn:nth-child(-n+2) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 479px) {
  .exsamples-btn {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .exsamples-model {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: calc((100% - 60px))/2;
        flex-basis: calc((100% - 60px))/2;
    margin: 0 -15px -15px 0;
  }
}

.exsamples-model-item {
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
}

@media screen and (max-width: 767.98px) {
  .exsamples-model-item {
    margin-right: 0;
  }
  .exsamples-model-item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .exsamples-model-item {
    margin: 0 30px 30px 0;
    -ms-flex-preferred-size: 354px;
        flex-basis: 354px;
  }
  .exsamples-model-item:nth-child(2n) {
    margin-right: 0;
  }
}

.exsamples-model-text {
  border: 1px solid #eeeeee;
}

.exsamples-model-link {
  display: block;
  width: 100%;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exsamples-model-link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .exsamples-model-link {
    width: 354px;
    max-height: 440px;
  }
}

.exsamples-model-title {
  margin-top: 20px;
  margin-right: 24px;
  margin-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.exsamles-model-type {
  margin-top: 4px;
  margin-bottom: 20px;
  margin-right: 24px;
  margin-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .exsamles-model-type:first-child {
    padding-bottom: 20px;
  }
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.product-thumb::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exsamples-model-link:hover .product-text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */