body {
    font-family: $primaryFontFamily;
    font-size: 14px;
    letter-spacing: 0.03em;

    color: $primaryTextColor;
    background-color: $primaryBgc;
}
.section {
    @include mq(mobile) {
            width: 450px;
        }
    
        @include mq(tablet) {
            width: 738px;
        }
    
        @include mq(desktop) {
            width: 1200px;
        }
    padding-top: 94px;
    padding-bottom: 94px;
}
h3 {
    margin-bottom: 10px;
}

