.advantages {
    background-color: $primaryBgc;
}

.advantages-item{
    @include mq(mobile){
        display: block;
        width: 100%;
    }
}


.advantages-list {
display: block;
    // display: flex;
    // flex-direction: row;
    // align-items: flex-start;
    // justify-content: space-between;

}

.advantages-item .advantages-text {
    // margin-right: 30px;
    // width: 270px;
    // height: 75px;
    @include fontstyle(400, 14px, 1.71);
    @include mq(mobile-only){
    margin-bottom: 30px;
    .advantages-item &:last-child {
            margin-bottom: 0;
        }}
}

.advantages .title-advantage {
    @include fontstyle(700, 14px, 1.14);
    
    text-transform: uppercase;
    text-align: center;
    color: $titleColor;
    @include mq(mobile){
    text-align: center;
  
}
}
.advantages-icon {
    background-color: $secondaryBgc;
    border-radius: 4px;
       margin-bottom: 30px;
       display: flex;
     justify-content: center;
   align-items: center;
@include mq(mobile-only){
        width: 100%;
        height: 120px; 
     }}
//     width: 270px;
//     height: 120px;

 
//     
// }