.footer {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: #2f303a;
    max-height: 603px;
    margin-right: auto;
    margin-left: auto;
}
.footer__contact{
    @include mq(tablet){
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;}
}
.adress {
    display: block;
    max-height: 83px;
    line-height: 1.71;
    font-style: normal;
    color: $whiteTextColor;
}

.footer__logo {
 
    font-family: $secondaryFontFamily;
    @include fontstyle(700, 26px, 1.19);
    text-decoration: none;
    color: $secondaryTextColor;
    display: flex;
   justify-content: center;
   
    @include mq(mobile){
        @include fontstyle(700, 24px, 1.17); 
        display: flex;
        margin-bottom: 30px;
       justify-content: center;
    }
    
}

.footer__weblogo {
    color: $whiteTextColor;
    
}

.adress__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
        &:hover {
            color: $secondaryTextColor;
        }
}

.adress__item {
    text-align: center;
    margin-top: 8px;
    &:first-child{margin-top: 20px;
    }
}

.footer__contact-adress{
    @include mq(mobile){margin-right: auto;
    margin-left: auto;}
    @include mq(tablet){
        display: block;
margin-bottom: 60px;
margin-left: 76px;
    }
}
// .footer__contact {
//     margin-right: auto;
//     margin-left: auto;
//     // display: flex;
//     // align-items: baseline;
// }


.invite__list {
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq(tablet){
        padding-right: 89px;
      }

}

.invite__title {
    @include fontstyle(700, 14px, 1.14);
    text-transform: uppercase;

    color: $whiteTextColor;
    @include mq(mobile){  margin-bottom: 20px;
  text-align: center;}
  @include mq(tablet){
    padding-right: 119px;
  }
  
}

.invite__network {
    margin-right: 10px;
    &:last-child{
        margin-right: 0;
    }
}

.invite__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover{
            background-color: $secondaryTextColor;
        }
        margin-bottom: 60px;
}

.invite__icon {
    fill: $whiteTextColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.invite {
    // margin-right: 93px;
    @include mq(mobile-only){margin-top: 60px;}
    // margin-bottom: 60px;
}

.email-form__title {
    margin-bottom: 20px;
text-align: center;
    // position: relative;
    @include fontstyle(700, 14px, 1.14);

    text-transform: uppercase;

    color: $whiteTextColor;

}

.email-form {
    width: 100%;
   
}
    
.email-form__mail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
    @include mq(tablet){
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.email-form__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    
    height: 50px;
    border-radius: 4px;
    background-color: #2f303a;
    padding-left: 16px;
    color: $whiteTextColor;
    @include mq(tablet){
        margin-left: 166px;
    }
    @include mq(not-desktop){
        width: 450px;
        
    }
}


.email-form__icon {
    margin-left: 10px;
}

.email-form__btn {
    @include fontstyle(700, 16px, 1.88);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    @extend .buton;
    color: $whiteTextColor;
    background-color: $secondaryTextColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    margin-top: 20px;
    @include mq(tablet){
        margin-left: 291px;
    }
   
   
}